{% extends "Base/base_admin.html" %}
{% load static %}

{% block title %}Plat — Délice Express Admin{% endblock %}

{% block content %}
<div class="form-card-admin">
    <h2>{% if object %}Modifier "{{ object.nom }}"{% else %}Ajouter un Plat au Menu{% endif %}</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group-admin">
            <label class="form-label-admin">Catégorie :</label>
            {{ form.categorie }}
        </div>

        <div class="form-group-admin">
            <label class="form-label-admin">Nom du Plat :</label>
            {{ form.nom }}
        </div>

        <div class="form-group-admin">
            <label class="form-label-admin">Description :</label>
            {{ form.description }}
        </div>

        <div class="form-row-admin">
            <div>
                <label class="form-label-admin">Prix (FCFA) :</label>
                {{ form.prix }}
            </div>
            <div>
                <label class="form-label-admin">Prix Promo (FCFA) :</label>
                {{ form.prix_promo }}
            </div>
        </div>

        <div class="form-group-admin">
            <label class="form-label-admin">Photo (Upload) :</label>
            {{ form.photo }}
        </div>

        <div class="form-group-admin">
            <label class="form-label-admin">OU URL d'Image externe :</label>
            {{ form.photo_url }}
        </div>

        <div class="form-group-admin">
            <label class="form-label-admin">Badge spécial (ex: HOT, NEW, -20%) :</label>
            {{ form.badge }}
        </div>

        <div class="form-checkbox-row-admin">
            <label>{{ form.disponible }} Disponible</label>
            <label>{{ form.est_populaire }} Marquer Populaire</label>
            <label>{{ form.est_promo }} Marquer en Promo</label>
        </div>

        <button type="submit" class="btn-checkout-pos" style="border: none;">Enregistrer le Plat</button>
    </form>
</div>
{% endblock %}